ul li, a{
    list-style: none;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    
}
ul .students{
    display: block;
}
ul li{
    display: none;
    position: relative;
    padding: 0;
    background-color: aqua;
    height: 50px;
    width: 200px;
    transition: 1s ease;
}
.childul{

    margin-left: -20px;
}
ul .c3{
    background-color: yellow;
}
.mainul li:hover ~ ul li{
    position: relative;
    display: block;
    transition: 1s ease;
}